{% extends 'ProcesamientoArchivo/baseProcesamiento.html' %}

{% block content %}
<h1>{% block title %} Procesar Archivo {% endblock %}</h1>
<br />
<br />
<form action="/ProcesamientoArchivo/iniciar" method="POST" enctype="multipart/form-data">
         <label>Nombre del archivo a Procesar: </label>
        <br />
         <input type="text" name="filename" value="{{ filename }}"
                readonly placeholder="{{ filename }}" style="width : 500px; heigth : 3px"></input>
        <br />
         <input type="submit" />
    </form>
{% endblock %}

