{% extends 'ProcesamientoArchivo/baseProcesamiento.html' %}

{% block content %}
<h1>{% block title %} Colección de Datos {% endblock %}</h1>
<br />
<br />
{% for registro in registros %}
<span class="badge badge-primary">ID Colección Datos : {{ registro.id_data_collection }}</span><br/>
<span class="badge badge-secondary">SITE : {{ registro.site }}</span><br/>
<span class="badge badge-secondary">ID : {{ registro.id }}</span><br/>
<span class="badge badge-secondary">PRICE : {{ registro.price }}</span><br/>
<span class="badge badge-secondary">START TIME : {{ registro.end_time }}</span><br/>
<span class="badge badge-secondary">CATEGORIA : {{ registro.name }}</span><br/>
<span class="badge badge-secondary">MONEDA : {{ registro.description }}</span><br/>
<span class="badge badge-secondary">SELLER : {{ registro.nickname }}</span><br/><br/>
{% endfor %}

{% endblock %}